In [33]:
import pandas as pd

In [34]:
lista_nomes =' Haward Ian Jonan Kellie'.split()

In [35]:
pd.Series(lista_nomes)

0    Haward
1       Ian
2     Jonan
3    Kellie
dtype: object

In [36]:
dados = {
'nome1': 'Howard',
'nome2': 'Ian',
'nome3': 'Peter',
'nome4': 'Jonah',
'nome5': 'Kellie',
}
pd.Series(dados) # Cria uma Series com um dicionario

nome1    Howard
nome2       Ian
nome3     Peter
nome4     Jonah
nome5    Kellie
dtype: object

In [37]:
  # Rotulos - para serem usados  no dicionario
cpfs = '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44,555.555.555-55'.split()
 # Exibe o conteudo do dicionário com o rótulo indeicado no construtor  
pd.Series(lista_nomes, index=cpfs)

111.111.111-11                   Haward
222.222.222-22                      Ian
333.333.333-33                    Jonan
444.444.444-44,555.555.555-55    Kellie
dtype: object

In [42]:
# Dusca de dados
series_dados=pd.Series(lista_nomes,index=cpfs)
series_dados.loc['111.111.111-11']

'Haward'

In [44]:
# Detalhamento de dados
series_dados = pd.Series([10.2, -1, None, 15, 23.4])
print('Quantidade de linhas = ', series_dados.shape) # Retorna uma tupla com o número de linhas
print('Tipo de dados', series_dados.dtypes) # Retorna o tipo de dados, se for misto será object
print('Os valores são únicos?', series_dados.is_unique) # Verifica se os valores são únicos (sem duplicações)
print('Existem valores nulos?', series_dados.hasnans) # Verifica seexistem valores nulos
print('Quantos valores existem?', series_dados.count()) # Conta quantas valores existem (excluí os nulos)
print('Qual o menor valor?', series_dados.min()) # Extrai o menor valor da Series (nesse caso os dados precisam ser do mesmo tipo)
print('Qual o maior valor?', series_dados.max()) # Extrai o valor máximo, com a mesma condição do mínimo
print('Qual a média aritmética?', series_dados.mean()) # Extrai a média aritmética de uma Series numérica
print('Qual o desvio padrão?', series_dados.std()) # Extrai o desvio padrão de uma Series numérica
print('Qual a mediana?', series_dados.median()) # Extrai a mediana de uma Series numérica
print('\nResumo:\n', series_dados.describe()) # Exibe um resumo sobre os dados na Series

Quantidade de linhas =  (5,)
Tipo de dados float64
Os valores são únicos? True
Existem valores nulos? True
Quantos valores existem? 4
Qual o menor valor? -1.0
Qual o maior valor? 23.4
Qual a média aritmética? 11.899999999999999
Qual o desvio padrão? 10.184301645179211
Qual a mediana? 12.6

Resumo:
 count     4.000000
mean     11.900000
std      10.184302
min      -1.000000
25%       7.400000
50%      12.600000
75%      17.100000
max      23.400000
dtype: float64

In [ ]:
#Dataframe

In [51]:
lista_nomes = 'Howard Ian Peter Jonah Kellie'.split()
lista_cpfs = '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44 555.555.555-55'.split()
lista_emails = 'risus.varius@dictumPhasellusin.ca Nunc@vulputate.ca fames.ac.turpis@cursusa.org non@felisullamcorper.org eget.dictum.placerat@necluctus.co.uk'.split()
lista_idades = [32, 22, 25, 29, 38]

In [52]:
pd.DataFrame(lista_nomes, columns=['nome'])

     nome
0  Howard
1     Ian
2   Peter
3   Jonah
4  Kellie

In [53]:
pd.DataFrame(lista_nomes, columns=['nome'], index=lista_cpfs)

                  nome
111.111.111-11  Howard
222.222.222-22     Ian
333.333.333-33   Peter
444.444.444-44   Jonah
555.555.555-55  Kellie

In [54]:
dados = list(zip(lista_nomes, lista_cpfs, lista_idades, lista_emails)) # cria uma lista de tuplas
pd.DataFrame(dados, columns=['nome', 'cpfs', 'idade', 'email'])

     nome            cpfs  idade                                 email
0  Howard  111.111.111-11     32     risus.varius@dictumPhasellusin.ca
1     Ian  222.222.222-22     22                     Nunc@vulputate.ca
2   Peter  333.333.333-33     25           fames.ac.turpis@cursusa.org
3   Jonah  444.444.444-44     29              non@felisullamcorper.org
4  Kellie  555.555.555-55     38  eget.dictum.placerat@necluctus.co.uk

In [ ]:
# Pasando dicionario como parâmetro para DataFrame

In [62]:
dadoss = {
'nomes': 'Howard Ian Peter Jonah Kellie'.split(),
'cpfs' : '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44 555.555.555-55'.split(),
'emails' : 'risus.varius@dictumPhasellusin.ca Nunc@vulputate.ca fames.ac.turpis@cursusa.org non@felisullamcorper.org eget.dictum.placerat@necluctus.co.uk'.split(),
'idades' : [32, 22, 25, 29, 38]
}

pd.DataFrame(dadoss)

    nomes            cpfs                                emails  idades
0  Howard  111.111.111-11     risus.varius@dictumPhasellusin.ca      32
1     Ian  222.222.222-22                     Nunc@vulputate.ca      22
2   Peter  333.333.333-33           fames.ac.turpis@cursusa.org      25
3   Jonah  444.444.444-44              non@felisullamcorper.org      29
4  Kellie  555.555.555-55  eget.dictum.placerat@necluctus.co.uk      38

In [65]:
df_dadoss = pd.DataFrame(dados)
print('\nInformações do DataFrame:\n')
print(df_dados.info()) # Apresenta informações sobre a estrutura do DF
print('\nQuantidade de linhas e colunas = ', df_dados.shape) #Retorna uma tupla com o número de linhas e colunas
print('\nTipo de dados:\n', df_dados.dtypes) # Retorna o tipo de dados, para cada coluna, se for misto será object
print('\nQual o menor valor de cada coluna?\n', df_dados.min()) #Extrai o menor de cada coluna
print('\nQual o maior valor?\n', df_dados.max()) # Extrai o valor máximo e cada coluna
print('\nQual a média aritmética?\n', df_dados.mean()) # Extrai a média aritmética de cada coluna numérica
print('\nQual o desvio padrão?\n', df_dados.std()) # Extrai o desvio padrão de cada coluna numérica
print('\nQual a mediana?\n', df_dados.median()) # Extrai a mediana de cada coluna numérica
print('\nResumo:\n', df_dados.describe()) # Exibe um resumo
df_dados.head() # Exibe os 5 primeiros registros do DataFrame

Informações do DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nomes   5 non-null      object
 1   cpfs    5 non-null      object
 2   emails  5 non-null      object
 3   idades  5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

Quantidade de linhas e colunas =  (5, 4)

Tipo de dados:
 nomes     object
cpfs      object
emails    object
idades     int64
dtype: object

Qual o menor valor de cada coluna?
 nomes                Howard
cpfs         111.111.111-11
emails    Nunc@vulputate.ca
idades                   22
dtype: object

Qual o maior valor?
 nomes                                 Peter
cpfs                         555.555.555-55
emails    risus.varius@dictumPhasellusin.ca
idades                                   38
dtype: object

Qual a média aritmética?
 idades    29.2
dtype: float64

Qual o desvio padrão?
 idades    6.220932
dtype: float64

Qual a mediana?
 idades    29.0
dtype: float64

Resumo:
           idades
count   5.000000
mean   29.200000
std     6.220932
min    22.000000
25%    25.000000
50%    29.000000
75%    32.000000
max    38.000000

C:\Users\viado\AppData\Local\Temp\ipykernel_9028\793052824.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print('\nQual a média aritmética?\n', df_dados.mean()) # Extrai a média aritmética de cada coluna numérica
C:\Users\viado\AppData\Local\Temp\ipykernel_9028\793052824.py:9: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print('\nQual o desvio padrão?\n', df_dados.std()) # Extrai o desvio padrão de cada coluna numérica
C:\Users\viado\AppData\Local\Temp\ipykernel_9028\793052824.py:10: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print('\nQual a mediana?\n', df_dados.median()) # Extrai a mediana de cada coluna numérica

    nomes            cpfs                                emails  idades
0  Howard  111.111.111-11     risus.varius@dictumPhasellusin.ca      32
1     Ian  222.222.222-22                     Nunc@vulputate.ca      22
2   Peter  333.333.333-33           fames.ac.turpis@cursusa.org      25
3   Jonah  444.444.444-44              non@felisullamcorper.org      29
4  Kellie  555.555.555-55  eget.dictum.placerat@necluctus.co.uk      38

In [71]:
# Colunas em um Dataframe

# sintaxe 
# nome_df.nome_coluna
# nome_df[nomecoluna]
#  nome_df[['col1', 'col2', 'col3']]