In [1]:
import pandas as pd

In [2]:
lista_nomes =' Haward Ian Jonan Kellie'.split()

In [3]:
pd.Series(lista_nomes)

0    Haward
1       Ian
2     Jonan
3    Kellie
dtype: object

In [6]:
  # Rotulos - para serem usados  no dicionario
cpfs = '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44,555.555.555-55'.split()
 # Exibe o conteudo do dicionário com o rótulo indeicado no construtor  
pd.Series(lista_nomes, index=cpfs)

111.111.111-11                   Haward
222.222.222-22                      Ian
333.333.333-33                    Jonan
444.444.444-44,555.555.555-55    Kellie
dtype: object

In [4]:
dados = {
'nome1': 'Howard',
'nome2': 'Ian',
'nome3': 'Peter',
'nome4': 'Jonah',
'nome5': 'Kellie',
}
pd.Series(dados) # Cria uma Series com um dicionario

nome1    Howard
nome2       Ian
nome3     Peter
nome4     Jonah
nome5    Kellie
dtype: object